body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
div{
  justify-content: center;
  align-items: center;
  font-size: 100%;
  text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100vw
}

.key{
    display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 2px, solid;
      font-size: large;
      margin: 5px;
      padding: 5px;
}

.key:hover {
    background-color: gray;
}

.in_and_out {
  border: 2px solid;
  display: flex;
    width: 20vw;
    justify-content: center;
    text-align: center;
}
#input {
  display: flex;
    width: 20vw;
    justify-content: center;
    text-align: center;
}

#output {
  display: flex;
    width: 20vw;
    justify-content: center;
    text-align: center;
}  

#i_Oholder {
  display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin: 5px;
    padding: 5px;
 
}

