body {
  display: flex;
  background-color: darkgrey;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
}
div{
  justify-content: center;
  align-items: center;
  font-size: 100%;
  text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    width: 97vw
}

.key{
    display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 2px, solid;
      font-size: large;
      margin: 5px;
      padding: 5px;
}

.key:hover, #replay:hover {
    background-color: gray;
}

.in_and_out {
  border: 2px solid;
  display: flex;
    width: 20vw;
    justify-content: center;
    text-align: center;
}
#input {
  display: flex;
    width: 20vw;
    justify-content: center;
    text-align: center;
}

#body {
    height: 10vh;
}

#gameplay {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 8vh;
}

#replay {
    border: 2px solid black;
}

#output {
  display: flex;
    width: 20vw;
    justify-content: center;
    text-align: center;
}  

#i_Oholder {
  display: flex;
    justify-content: space-around;
    align-self: flex-end;
    align-items: center;
    width: 20vw;
    margin: 5px;
    padding: 5px;
 
}

