body {
  display: flex;
  background-color: darkgrey;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
}
div{
  justify-content: center;
  align-items: center;
  font-size: 100%;
  text-align: center;
}

p, a, div {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    width: 97vw
}

.key{
    display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 2px, solid;
      border-radius: 0.5vh;
      font-size: large;
      margin: 5px;
      padding: 5px;
}

.key:hover {
    background-color: gray;
    cursor:pointer;
}

#replay:hover {
    background-color: darkred;
    cursor:auto;
}

.in_and_out {
  display: flex;
    width: 40vw;
    justify-content: center;
    text-align: center;
}
#input {
  display: flex;
    width: 20vw;
    justify-content: center;
    text-align: center;
}

.guy {
    position: fixed;
    width: 7vw;
}

#hanger {
    width: 11.5vw;
}

.letter {
    border-bottom: 3px solid;
    margin-right: 0.85vw;
    height: 25px;
    width: 25px;
}

#gameplay {
    display: flex;
    flex-direction: row;
    margin-top: 3.5vh;
    margin-bottom: 2vh;
}

#replay {
    display:flex;
    position:fixed;
    cursor:pointer;
    background-color: red;
    visibility:hidden;
    font-size: 15vh;
    justify-self: center;
    border: 2px solid black;
    margin-bottom: 2vh;
    border-radius: 0.5vh;
    height: 40vh;
    width: 80vw;
}

#contents {
    margin-top: 0vh;
}

#winstate {
    display: flex;
    visibility: hidden;
    align-items: center;
    background-color: rgb(138, 138, 138);
    height: 5vh;
    font-size: 4.5vh;
    width: 100vw;
}

#i_Oholder {
  display: flex;
    justify-content: space-around;
    align-self: flex-end;
    align-items: center;
    width: 20vw;
    margin: 5px;
    margin-left: 5vw;
    padding: 5px;
 
}

#w1 {
    left:39vw;
    top:12.5vh;
    visibility: hidden;
}

#w2 {
    left:39vw;
    top:12.5vh;
    visibility: hidden;
}

#w3 {
    left:39vw;
    top:12.5vh;
    visibility: hidden;
}

#w4 {
    left:39vw;
    top:12.5vh;
    visibility: hidden;
}

#w5 {
    left:39vw;
    top:12.5vh;
    visibility: hidden;
}

#w6 {
    left:39vw;
    top:12.5vh;
    visibility: hidden;
}